<h2 mat-dialog-title class="cursive-text">Reset Password</h2>
<mat-dialog-content class="mat-typography">
    <div >
        <mat-form-field appearance="standard" class="w-100 mb-1">
            <mat-label class="cursive-text">Email</mat-label>
            <input matInput autocomplete="off" [formControl]="email">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close><span class="cursive-text">Cancel</span></button>
  <button mat-button cdkFocusInitial (click)="resetPassword()"><span class="cursive-text">Reset</span></button>
</mat-dialog-actions>