@media only screen and (max-width: 540px) {
   .icon-container{
       padding-top: 1rem;
       font-size: 12px;
   }

   .icon-div{
       margin-top:5px !important;
   }
   .folder-card{
       min-height: 400px !important;
   }
   .mobile-truncate-middle-element{
       max-width: 120px !important;
   }
   .mobile-truncate-last-element{
    max-width: 150px !important;
    }
    .header-text{
        font-size: 25px !important;
    }
  }

.header-text{
    font-size: 30px;
}

  .long-text-truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 100%;
}